// General styles
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $body-font;
  color: $text;
}

// Basic styles and layout

.logo {
  padding-left: 0.5em;
  color: $uoc-masterbrand;
}

.poster {
  max-width: 145em;
  margin: 0 auto;
  position: relative;
  padding: 1em;
}

_:-ms-input-placeholder,
:root .poster {
  display: block;
}

h1 {
  font-family: $header-font;
  color: $uoc-masterbrand;
  font-size: calc(3em + 7vw);
  margin-bottom: 0.25em;
}

h2 {
  text-transform: uppercase;
  font-size: calc(1em + 0.5vw);
  color: lighten($text, 50%);
  margin-bottom: 1em;
}

hr {
  opacity: 0;
}

a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: $text;
  margin-bottom: 2em;
  font-weight: bold;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.location {
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: bold;
}

button {
  border: 0;
  background-color: $uoc-masterbrand;
  color: $uoc-bg;
  text-transform: uppercase;
  font-size: 100%;
  padding: 1em 2em;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: $uoc-bg;
  color: $text;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: $text;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: $text;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
/*  footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
/* Footer end */

.ft-end-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-end-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-end-list li:nth-last-child(2) {
  flex: 1;
}

// Grid layout for wide display
@supports (display: grid) {
  @media (min-width: 42em) and (min-height: 27em) {
    .site-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: rgba(201, 255, 252, 0.801);
    }

    .logo {
      padding-left: 1em;
      color: $uoc-masterbrand;
    }

    .nav_menu {
      padding-right: 1em;
    }

    .poster {
      max-width: none;
      padding: 0;
      display: grid;
      grid-template-columns:
        2fr minmax(10em, max-content) minmax(14em, max-content)
        minmax(1em, 1fr) fit-content(28em) calc(2em + 0.5vw);
      grid-template-rows: 35vh 40vh 15vh 10vh;
    }

    h1 {
      grid-column: 4 / 6;
      grid-row: 1 / 3;
      z-index: 2;
      padding-left: 0.25em;
      margin-bottom: initial;
    }

    h2 {
      grid-row: 1 / -1;
      grid-column: 6 / 7;
      writing-mode: vertical-rl;
      margin-bottom: initial;
      color: $text;
    }

    hr {
      grid-column: 5 / 6;
      grid-row: 2;
      height: 6px;
      background-color: $text;
      width: 20ch;
    }

    .about {
      grid-column: 5 / 6;
      grid-row: 2;
      align-self: end;
      //padding-bottom: 4vh;
      //margin-bottom: initial;
    }

    a {
      grid-column: 5 / 6;
      justify-self: end;
      align-self: center;
      margin-bottom: initial;

      &::before {
        content: "";
        display: block;
        height: 4px;
        background-color: $uoc-masterbrand;
        width: 4ch;
        margin-bottom: 1em;
      }
    }

    img {
      grid-column: 1 / 4;
      grid-row: 1 / 4;
    }

    .location {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      z-index: 2;
      background: $uoc-bg;
      text-align: center;
      display: flex;

      p {
        margin: auto;
      }
    }

    button {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      position: initial;
      padding: 0;
    }
    * {
      box-sizing: border-box;
      font-family: "Lato", sans-serif;
      margin: 0;
      padding: 0;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
    footer {
      background-color: $uoc-bg;
      color: $text;
      line-height: 1.5;
    }
    footer a {
      text-decoration: none;
      color: $text;
    }
    a:hover {
      text-decoration: underline;
    }
    .ft-title {
      color: $text;
      font-family: "Merriweather", serif;
      font-size: 1.375rem;
      padding-bottom: 0.625rem;
    }
    /* Sticks footer to bottom */
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
    .container {
      flex: 1;
    }
    /* Footer main */
    .ft-main {
      padding: 1.25rem 1.875rem;
      display: flex;
      flex-wrap: wrap;
    }
    @media only screen and (min-width: 29.8125rem /* 477px */) {
      .ft-main {
        justify-content: space-evenly;
      }
    }
    @media only screen and (min-width: 77.5rem /* 1240px */) {
      .ft-main {
        justify-content: space-evenly;
      }
    }
    .ft-main-item {
      padding: 1.25rem;
      min-width: 12.5rem;
    }

    /* Footer social */
    .ft-social {
      padding: 0 1.875rem 1.25rem;
    }
    .ft-social-list {
      display: flex;
      justify-content: center;
      padding-top: 1.25rem;
    }
    .ft-social-list li {
      margin: 0.5rem;
      font-size: 1.25rem;
    }
    /* Footer End */
    .ft-end {
      padding: 0.9375rem 1.875rem;
      background-color: rgb(113, 129, 129);
    }
    .ft-end-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .ft-end-list li {
      margin: 0.125rem 0.625rem;
      white-space: nowrap;
    }
    /* one before the last child */
    .ft-end-list li:nth-last-child(2) {
      flex: 1;
    }
  }

  @media (min-width: 48em) and (min-height: 27em) {
    hr {
      opacity: 1;
    }
  }
}
